<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html>
<head>
    <title>GitHub Actions by Example</title>
    <meta name="description" content="GitHub Actions by Example는 주석 달린 예제로 보는 서비스 소개서 입니다"/>
    <meta property="og:title" content="GitHub Actions by Example">
    <meta property="og:description" content="주석 달린 예제로 보는 GitHub Actions 소개서입니다">
    <meta property="og:url" content="https://www.actionsbyexample.com/">
    <meta property="og:site_name" content="GitHub Actions by Example">
    <meta name="twitter:title" content="GitHub Actions by Example">
    <meta name="twitter:description" content="주석 달린 예제로 보는 GitHub Actions 소개서입니다">
    <meta name="twitter:creator" content="@macint0shpie">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="site.css" rel="stylesheet">
</head>
<body>
<div class="main_container index">
<div class="container">
    <h1><a href="index.html">GitHub Actions by Example</a></h1>
    <p>GitHub Actions는 GitHub에서 제공하는 간편한 CI/CD 서비스입니다..</p>
    <p><span style="font-style: italic">GitHub Actions by Example</span>은 주석 달린 예제로 보는 서비스 소개서입니다</p>
    <ul>
    {{range .}}
        <li><a class="internal_link" href="{{.Id}}.html">{{.Name}}</a></li>
    {{end}}
    </ul>
</div>
<p class="footer">By <a href="https://macintoshpie.github.io">Ted Summer</a> | Transrator<a href="https://github.com/macintoshpie/ghactionsbyexample">Source</a> | Inspired by <a href="https://gobyexample.com">Go by Example</a></p>
</div>
</body>
</html>
